{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{{page.title}}
{% endblock title %}
{% block extra_css %}

<link href="{% static 'css/saheh.css' %}" rel="stylesheet" />

{% endblock extra_css %}
{% block content %}
<!-- start saheh -->
<div class="saheh mg-bot" dir="rtl">
    <div class="alert header-dark">
        <div class='container'>
            {{page.title}}
        </div><!-- ./container -->
    </div>

    <div class='container'>
        <div class="row">
            {% with "" as  this_chapter %}
            <div class="col-md-4 col-xm-6">
                <!-- ./Chapters -->
                <div class='chapters'>
                    <div class="just-padding">

                        <div class="list-group list-group-root well">
                            <a href="#" class="list-group-item">{% translate "AlSaheh" %} </a>
                            <div class="list-group">
                                {% for book_in in al_saheh.bookinalsaheh_set.all  %}
                                <a href="#" class="list-group-item">{% translate "book" %} {{book_in}}
                                    <div class="arrow">
                                        <svg aria-hidden="true" focusable="False" data-prefix="fas"
                                            data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10"
                                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                            <path fill="currentColor"
                                                d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z">
                                            </path>
                                        </svg>
                                    </div>

                                </a>
                                <div class="list-group">

                                    {% for chapter_in in book_in.chapterinalsaheh_set.all  %}
                                    {% for had_in in chapter_in.hadithinalsaheh_set.all  %}
                                    <a class="list-group-item chapter-header"
                                        onclick='set_elm_source("{{had_in.text }}","{{had_in.video_tafsir.url  }}","{{had_in.audio_tafsir.url  }}")'>{% translate "chapter" %}
                                        {{chapter_in}}</a>
                                    {% endfor %}
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- ./Chapters -->

            <div class="col-md-8 col-xm-6">
                <!-- ./btn-rows -->
                <div class='btn-rows text-center'>

                    <a class="btn btn-secondary" "
                        onclick=" hide_elm('video-tafsir')"> التفسير
                        المرئى </a>
                    <a class="btn btn-secondary " onclick=" hide_elm('audio-tafsir')"> التفسير الصوتى </a>


                    <!-- audio -->
                    <div id="audio-tafsir" class='audio' hidden>
                        <audio controls>
                            <source id="audio-tafsir-source" type="audio/ogg">

                        </audio>
                    </div>
                    <!-- <audio id="player" src="vincent.mp3"></audio>
                    <div>
                        <button onclick="document.getElementById('player').play()">Play</button>
                        <button onclick="document.getElementById('player').pause()">Pause</button>
                        <button onclick="document.getElementById('player').volume += 0.1">Vol +</button>
                        <button onclick="document.getElementById('player').volume -= 0.1">Vol -</button>
                    </div> -->
                    <!-- end audio -->
                    <!-- ./video -->
                    <div id="video-tafsir" class='video' hidden>

                        <video width="350px" height="350px" controls>
                            <source id="video-tafsir-source" type="video/mp4">
                        </video>
                    </div><!-- ./video -->
                </div><!-- ./btn-rows -->


                <!-- ./content-place -->
                <div class='content-place'>

                    <p id="text-source">

                    </p>


                </div><!-- ./content-place -->
            </div>
            {% endwith %}
        </div>

    </div><!-- ./container -->



</div>
<!-- end saheh -->
{% endblock content %}

{% block load_more_js %}
<script type="text/javascript" src="{% static 'js/saheh0.js' %}"></script>
{% endblock load_more_js %}