{% extends 'base.html'      %}
{% load static %}
{% load i18n %}

{% block title %}
{{page.title}}
{% endblock title %}
{% block extra_css %}

<link href="{% static 'css/about_us.css' %}" rel="stylesheet" />

{% endblock extra_css %}
{% block content %}

<!-- ./container -->
<!-- ./about_us -->

<div class='related_site   mg-bot' dir="rtl">
    
        <div class="alert header-dark" role="alert">
            <div class='container d-flex align-content-center align-items-center justify-content-rigth '>
                {% include 'ui/back/back_btn.html' %}
                {% translate "related sites" %} 

            </div><!-- ./container -->
    
        </div>
    
        <div class=" container " style= 'min-height:300px!important'>
       
           

            <div class='row  '>            
               
           {% for site in  sites %}
           
           {% if  site.image %}
            <div class="col-md-3 mb-2">
                <div class="card mb-3" style="background-color: transparent!important ">
                    <a  class='' href = "{{site.site}}" target="_blank" style= "color:var(--main-color);max-height:180px!important;" >  
                        <img class='w-100 h-100 ' src='{{site.image.url}}'>
                    </a>
                    {% comment %}  <div class="card-body" >
                        {{site.name|default:""}}
                    </div> 
                    <p class="card-text p-3"> 
                        {{site.text|default:""}}
                    </p>{% endcomment %}
                </div>
            </div> 
            {% endif %}
                    
            {% endfor %}
            
        </div>
            </div>
        </div>
        
 
     
</div><!-- ./about_us -->
{% endblock content %}